// Place all the styles related to the griffins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {
  box-sizing: border-box;
}

body {

  background-image: url('bk.jpg');
    background-size: 100% 1405px;
  color: #eee;
  font-family: Georgia, sans-serif;
}

p {
  font-size: 38px;
}
h4 {
  text-indent: 20px;
}
.backgroundslides {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
}

::selection {
  background-color: #F87911;
}

.bodygriffin {
	position: relative;
	  width: 900px;
      height: auto;
      margin: 0px auto;
      z-index: 2;
      
}

.griffinlogo {

	position: absolute;
	top: 0px;
	right: 0px;
	width: 665px;
	height: 183px;
	margin-top: 5px;
	margin-right: 0.5%;

}
		.logoimage2 {
			width: 100%;
			height: 100%;
		}

.logoimageblock {
   position: absolute;
      width: 24%;
	 margin-right: 0.5%;
     margin-left: 0.5%;

}
		.logoimage {
			width: 92%;
      margin-left: 5%;
      position: relative;
      z-index: 9;
		}


.tabbed {
  width: 900px;
  margin: 5px auto;
  background: none;
  display: inline-block;
}
.tabbed > h2 {

}

.tabbed > input {
  display: none;
}



.tabbed > label {
  font-family: Geneva, Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 26px;
	width: 216px;
	height: 45px;
	vertical-align: text-bottom;
  display: block;
  float: left;
  padding: 4px 20px;
  margin-top: 194px;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 0px;
  cursor: pointer;
  transition: background-color .3s;
  background-image: url('plateblue2.svg');
  background-size: 100%;
  color: rgb(194, 195, 196) ;
}
		.tabbed > label > p {
			padding: 0;
			margin-top: -10px;
		}

.tabbed > label:hover,
.tabbed > input:checked + label {
    text-decoration: none;
    	
      background-image: url('plategrey.svg'); 
      background-size: 100%;

    font-size: 25px;
    color: rgb(41, 77, 143) ;
        border: 6px double #294d8f;
    padding-top: 0px;
   
  }



.tabs {
  clear: both;
  perspective: 600px;

}

.tabs > div {
  width: 99%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid 3px rgb(41, 77, 143);
  position: absolute;
  height: auto;
  min-height: 500px;
  padding: 10px 30px 40px;
background-image: url('cos.svg'), url('greybackgr2.svg');
background-size: 100%;
  line-height: 1.4em;
  opacity: 0;
  
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;

}

.experiment {
  height: auto;
  width: 100%;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}



.bottomimage {
  position: absolute;
  bottom: 15px;
  width: 100%;
  margin-left: -30px;
  
}
      .bottimage {
        width: 100%;
        padding-top: 50px;
      }
          .adress {
            padding-left: 2%;
            position: absolute;
            top: 60%;
            color: rgb(194, 195, 196);
          }
              .adress > h5 {
                padding: 0px;
                margin: 0px;
              }
          .contact {
            display: inline-block;
            padding-left: 2%;
            position: absolute;
            top: 60%;
            right: 2%;
            color: rgb(194, 195, 196);
          }
              .contact > h5 {
                padding: 0px;
                margin: 0px;
              }
              .contact > li {
                display: inline;
                float: right;
              }

      .numbers {
        width: 160px;
        height: 30px;
        margin-left: 10px;
      } 
        .numbers> h5 {
          padding: 0px;
          margin: 0px;
      }
      .vk {
        width: 28px;
        margin-left: 8px;
      }
      .face {
        width: 28px;
        margin-left: 8px;
      }
        .icons {
          width: 100%;             
        }
        .icons:hover {
      background-color: #a8d4ed;
      border: 3px solid #a8d4ed;
      text-decoration: none;
    }

      .vkblue {
        display: inline-block;
        width: 50px;

      }
      .faceblue {
        display: inline-block;
        width: 50px;
        margin-left: 8px;
      }
        .icons {
          width: 100%;             
        }
        .icons:hover {
      background-color: #a8d4ed;
      border: 3px solid #a8d4ed;
      text-decoration: none;
    }

.usluga {
    display: inline-block;
    float: left;
    text-align: center;
    width: 269px;
    height: 275px;
    margin: 3px;
}
      .uclugaimg {
        width: 100%;
        height: auto;
        border: 3px solid rgb(41, 77, 143);
      }
      .vizualimg {
        width: 100%;
        height: 195px;
      }

@media screen and (max-width: 700px) {
  .tabbed { width: 400px }
  .tabbed > label { display: none }
  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
}



/* SLiDERS!!!!!!!!!!!!!!!!!!!!!! */

.background {
	height: 100%;
	width: 100%;
  background-image: url('bk.jpg');
    background-size: 100% 100%;
}

.slides {
    height: 650px;

    overflow: hidden;
    position: relative;
    width: 830px;
    margin-bottom: 15px;
    margin-top: 15px;
}
      .slides > ul > li > h3 {
        margin-top: 8px;  
        color: #2b3f80;
        text-align: center;
      }

      .slidersbackground {
          height: 500px;
          width: 825px;
              border: 3px solid #294d8f;
      }
      .slides ul {
          list-style:none;
          position:relative;
              margin-left: -40px;

      }
      /* Кадры анимации #anim_slides */

      @-webkit-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      }

      @-moz-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      } 

      .slides ul li {
          opacity:0;
          position:absolute;
          top:0;

          /* анимация css3 */
          -webkit-animation-name: anim_slides;
          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_slides;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }

       

      /* Задержки css3 */
      .slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
          -webkit-animation-delay: 6.0s;
          -moz-animation-delay: 6.0s;
      }

      .slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
          -webkit-animation-delay: 12.0s;
          -moz-animation-delay: 12.0s;
      }

      .slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
          -webkit-animation-delay: 18.0s;
          -moz-animation-delay: 18.0s;
      }

      .slides ul li img {
          display:block;

      }

       

      /* Кадры анимации #anim_titles */

      @-webkit-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

      @-moz-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

       

      .slides ul li div {
          background-color: #18ef6e;
          border-radius:3px 3px 3px 3px;
          box-shadow:0 0 5px #EBCB79 none;
          color: #50156E;
          height: 32px;
          width: auto;
          font-size: 20px;

          margin:0 auto;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
          position:absolute;
          top: 265px;
          width: auto;


          /* Анимация css3 */

          -webkit-animation-name: anim_titles;

          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_titles;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }
      .slides ul li div h2 {
        margin: 0px;
      }
      .slides ul li div p {
          margin: 0px;
      }


